*.swp

# Visual Studio Code Ignore Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ignore raw-data
src/data/raw-data/*

# ignore openpose models
src/openpose/models/pose/*
src/openpose/models/face/*
src/openpose/models/hand/*

# Ignore Project Files

# Ignore DLL Files
src/application/bin/*.dll    
# Ignore Models
src/application/models
src/application/__pycache__
# Ignore Remaining DLL's
src/application/*.dll   

# OpenPose Core Large Files
src/openpose-python/models
src/openpose-python/bin
src/openpose-python/*.dll

# Ignore all pycache stuff
src/scrapper/__pycache__

# Ignore DLL in release
src/openpose-python/Release/*.dll
