*.swp

# Visual Studio Code Ignore Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# ignore raw-data
src/data/raw-data/*

# ignore openpose models
src/openpose/models/pose/*
src/openpose/models/face/*
src/openpose/models/hand/*

# Ignore Project Files
src/application/bin/*    # Ignore DLL Files
src/application/models/* # Ignore Models
src/application/__pycache___
src/application*.dll     # Ignore Remaining DLL's


