<!DOCTYPE html>

<head>
    <title> Real Time Sign Language Translation </title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Socket IO Import -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <div style="text-align: center;">
        <h3> Real Time Sign Language Translation System </h3>
        <p id='status'> Connecting to OpenPose Server... </p>
        <div class="row">
            <div class='col s12 m12 l6'>
                <canvas id="canvasOutput"></canvas>
                <video autoplay="true" id="videoElement" style="display: none;"></video>
            </div>
            <div class='col s12 m12 l6'>
                <div class='video'>
                    <img id="image">
                </div>
            </div>
        </div>
    </div>

    <script>

        // Hardcoded Pixel Values
        var videoWidth = 500;
        var videoHeight = 400;

        const video = document.querySelector("#videoElement");
        video.width = videoWidth; 
        video.height = videoHeight; ;

        // Handle User Media
        navigator.getUserMedia = navigator.getUserMedia ||
            navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
        // Handle camera setup
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
        })
        .catch(function (error) {
            console.log(error)
            console.log("Something went wrong!");
        });
    }

        // Setting up Socket IO Connection to Server
        var socket = io();
        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });
        socket.on('resp', function(responseText){
            document.getElementById('status').innerHTML = responseText;
        });

        const FPS = 20;
        setInterval(() => {
            var canvas = document.getElementById('canvasOutput')
            canvas.width = videoWidth
            canvas.height = videoHeight
            canvas.getContext('2d').drawImage(video, 0, 0);
            var data = canvas.toDataURL("image/png");
            data = data.replace('data:' + "image/png" + ';base64,', ''); 
            socket.emit('imageSend', data);
        }, 1000/FPS);
        socket.on('response_back', function(image){
            const image_id = document.getElementById('image');
            image_id.src = image;
        });
        
    </script>
            
</body>

